/* add your own style rules here */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.mdl-navigation__link :hover{
    background-color: aqua;
}


.new-chat-form{
    position:bottom;
}

.conversation{
    min-height: 500px;
}

.conversation .chat-creation{
    margin-bottom: 0px;
}


/*.conversation .chat-title{
    margin-bottom: 20px;
    margin-top: 0px;
}*/

.chat-creation{
    margin-top: 15px;
}

li {
  list-style-type: none;  
}