/*
Calvin Korver
Info 343
Services Challenge
11-2-16
*/

body, input, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    /*background-color: #EBEBEB;*/
}

input {
    width: 95%;
    padding-left:10px;
    padding: 0.5rem;
    background-color: #FFF
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content-grid {
    max-width: 1300px;
}

.indexBody {
    color: #FFF;
    background-image: linear-gradient(to bottom, #bbb, #000);
}


.container > p {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
}

hr {
    border-color: dimgrey;
    border-width: 5px;
}

input:focus {
    color: #000;
 }

@media (min-width: 840px) {
    input {
        width: 500px;
    }

    .indexBody {
        background-image: url(/candide-background.jpg);
        background-size: cover;
        background-position: center;
    }
}


.task-list {
    padding-left: 0;
}

.gravatarPhoto {
    height: 20px;
    width: 20px;
}

.demo-list-icon {
	width: 300px;
}

.displayName {
    font-weight: bold;
    padding-right: 5px;
}

.message-creation {
    font-style: italic;
    padding-right: 5px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.sign-container {
    margin-top: 10%;
    margin-left: 15%;
}

#menu-logo {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    height:70px;
    width:90px;
}

#signout-button {
    margin: 5% 0% 0% 15%;
}

button {
    padding: 0.5rem;
}

.credential-entry {
    width: 100%;
    position: block !important;
}

.mdl-layout__drawer-button {
    padding-top:12px;;
}

#hamburger-file-upload {
    margin: 10px;
}


.mdl-layout__content {
    margin:30px;
}


.new-message-title {
    margin:10px;
}
/* For pop up card from https://getmdl.io/components/index.html#cards-section*/
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.demo-layout-transparent {
  background: lightgrey center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.gravatar-photo {
    width:30px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.description-avatar {
    margin: 5px;
    margin-left: 0px;
    border-radius: 20px;
    width: 30px;
}

/* Video Card Container */
.demo-card-wide.mdl-card {
    margin: 20px;
    width: 100%;
    max-width: 1000px;
}

video {
    z-index: 99;
}

.mdl-card__media {
    background-color: black !important;
}

.video-cell {
    vertical-align: center;
    position: center;
}


#main-header {
    margin-left: 20%;
    padding-left: 100px;
    vertical-align: middle;
    /*font-family: 'Consolas';*/
}

#videos {
    vertical-align: middle;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#feed-header {
    vertical-align: center;
}

#feed-page-button {
    color: black;
}

#bio-input {
    background-color: white;
    color: black;
}


/* Courtesy of Alexander Gaziev */

.file_input_div {
  width: 250px;
  height: 20px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}

.red { 
    color:#FF5252;

    }

.commentUser {
    font-style: italic;
    color: #365899;
    text-transform: uppercase;
}

.commentSpan {
    display: flex;
}


.display {
    margin-left: 15px;
}

.commentUser{
    color:#365899;
}

.mdl-layout-title {
    font-family: 'Lobster';
    font-size: 30px;
}


